<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body ng-controller="LandCtrl">
    <div layout-fill layout="column" layout-align="center center">
        <div layout="row" layout-align="center none">
            <md-card>
                <md-card-content>
                    <h3 id="landing">ZoomRx</h3>
                    <a ui-sref="zoomrx.selection" id="waterflow">Click here to WaterFlow Simulator</a>
                    </md-card-content>
</md-card>
            </div>
</div>
</body>
</html>